.page--header_container{
    background-color: #4f7f33;
    padding: 10px;
    color:white;
    border-radius: 20px;
    width: calc(100% - 21px);
    box-shadow: 2px 2px 2px #00000055;

}
.page--header_container h2{
    margin: 0;
    padding: 0;
    

}